flows_em.local.json
[
	{
		"id": "907c54b7.0448a8",
		"type": "tab",
		"label": "Save to contract"
	},
	{
		"id": "2402955.eef8a6a",
		"type": "tab",
		"label": "Read from contract"
	},
	{
		"id": "a0b32d0f.b8bb2",
		"type": "tab",
		"label": "Flow 3"
	},
	{
		"id": "496676cd.e58e88",
		"type": "websocket-listener",
		"z": "",
		"path": "/path",
		"wholemsg": "true"
	},
	{
		"id": "305ec38b.01864c",
		"type": "twilio-api",
		"z": "",
		"sid": "",
		"from": "+18182908731",
		"name": "+18182908731"
	},
	{
		"id": "2ff5e270.6de32e",
		"type": "ping",
		"z": "907c54b7.0448a8",
		"name": "ping",
		"host": "google.com0",
		"timer": "10",
		"x": 114.5,
		"y": 348,
		"wires": [
			[
				"3a7c2932.59b2b6",
				"b4fbf129.21a52"
			]
		]
	},
	{
		"id": "3a7c2932.59b2b6",
		"type": "function",
		"z": "907c54b7.0448a8",
		"name": "check",
		"func": "const isOnline = msg.payload > 0 ? true : false;\nlet isChanged = false;\n\nif(flow.get('isOnline') != isOnline) {\n    isChanged = true;\n    flow.set('isOnline', isOnline);\n}\n\nreturn {\n    payload: {\n        isChanged: isChanged,\n        isOnline: isOnline,\n    }\n    \n};",
		"outputs": 1,
		"noerr": 0,
		"x": 263.5,
		"y": 348,
		"wires": [
			[
				"d5c69c50.5615c"
			]
		]
	},
	{
		"id": "9f1796b4.f76308",
		"type": "twilio out",
		"z": "2402955.eef8a6a",
		"twilio": "305ec38b.01864c",
		"twilioType": "sms",
		"url": "",
		"number": "",
		"name": "sms",
		"x": 494,
		"y": 424,
		"wires": [

		]
	},
	{
		"id": "5c948a86.894904",
		"type": "function",
		"z": "2402955.eef8a6a",
		"name": "check",
		"func": "let isChanged = false;\n\nif(flow.get('currentValue') != msg.payload) {\n    isChanged = true;\n    flow.set('currentValue', msg.payload);\n}\n\nreturn {\n    payload: {\n        isChanged: isChanged\n    }\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 257.5,
		"y": 316,
		"wires": [
			[
				"9efe7650.6240b8"
			]
		]
	},
	{
		"id": "9efe7650.6240b8",
		"type": "switch",
		"z": "2402955.eef8a6a",
		"name": "if changed",
		"property": "payload.isChanged",
		"propertyType": "msg",
		"rules": [
			{
				"t": "true"
			}
		],
		"checkall": "true",
		"outputs": 1,
		"x": 453.5,
		"y": 314,
		"wires": [
			[
				"4a462525.530fdc"
			]
		]
	},
	{
		"id": "4a462525.530fdc",
		"type": "function",
		"z": "2402955.eef8a6a",
		"name": "prepare message",
		"func": "return {\n    payload: `Contract changed value to: ${flow.get('currentValue')}`\n};",
		"outputs": 1,
		"noerr": 0,
		"x": 292,
		"y": 424,
		"wires": [
			[
				"9f1796b4.f76308",
				"1c54e515.23fb0b"
			]
		]
	},
	{
		"id": "99a81f2c.e9f0c",
		"type": "ethereum",
		"z": "907c54b7.0448a8",
		"name": "ethereum",
		"address": "0x2cfc8c4976f7c154d81307e37a032473c5f52902",
		"host": "http://127.0.0.1:8545",
		"abi": "[{\"constant\":true,\"inputs\":[],\"name\":\"currentValue\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"newValue\",\"type\":\"string\"}],\"name\":\"setValue\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"}]",
		"function": "const status = flow.get('isOnline') ? 'healthy' : 'sick';\n\nmsg.contractInstance.methods.setValue(status).send({from: '0x63CE9f57E2e4B41d3451DEc20dDB89143fD755bB'}, (error, tx) => {\n  node.send({payload: tx || error});\n});\n\nreturn;",
		"x": 626.5,
		"y": 346,
		"wires": [
			[
				"8f912e85.f84b1"
			]
		]
	},
	{
		"id": "8f912e85.f84b1",
		"type": "debug",
		"z": "907c54b7.0448a8",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "payload",
		"x": 802.5,
		"y": 276,
		"wires": [

		]
	},
	{
		"id": "d5c69c50.5615c",
		"type": "switch",
		"z": "907c54b7.0448a8",
		"name": "if changed",
		"property": "payload.isChanged",
		"propertyType": "msg",
		"rules": [
			{
				"t": "true"
			}
		],
		"checkall": "true",
		"outputs": 1,
		"x": 454.5,
		"y": 347,
		"wires": [
			[
				"99a81f2c.e9f0c"
			]
		]
	},
	{
		"id": "7c1f1b6d.7effa4",
		"type": "inject",
		"z": "a0b32d0f.b8bb2",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 138.5,
		"y": 264,
		"wires": [
			[
				"f5cc75d0.0d03b8"
			]
		]
	},
	{
		"id": "f5cc75d0.0d03b8",
		"type": "ethereum",
		"z": "a0b32d0f.b8bb2",
		"name": "ethereum",
		"address": "0x2cfc8c4976f7c154d81307e37a032473c5f52902",
		"host": "http://127.0.0.1:8545",
		"abi": "[{\"constant\":true,\"inputs\":[],\"name\":\"currentValue\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"newValue\",\"type\":\"string\"}],\"name\":\"setValue\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"}]",
		"function": "msg.contractInstance.methods.currentValue().call((error, result) => {\n  node.send({payload: result || error});\n});\n\nreturn;",
		"x": 366.5,
		"y": 265,
		"wires": [
			[
				"e5846ba0.4f4648"
			]
		]
	},
	{
		"id": "e5846ba0.4f4648",
		"type": "debug",
		"z": "a0b32d0f.b8bb2",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 610.5,
		"y": 267,
		"wires": [

		]
	},
	{
		"id": "d3d9f3c2.96ea2",
		"type": "ethereum",
		"z": "2402955.eef8a6a",
		"name": "read from contract",
		"address": "0x2cfc8c4976f7c154d81307e37a032473c5f52902",
		"host": "http://127.0.0.1:8545",
		"abi": "[{\"constant\":true,\"inputs\":[],\"name\":\"currentValue\",\"outputs\":[{\"name\":\"\",\"type\":\"string\"}],\"payable\":false,\"stateMutability\":\"view\",\"type\":\"function\"},{\"constant\":false,\"inputs\":[{\"name\":\"newValue\",\"type\":\"string\"}],\"name\":\"setValue\",\"outputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"function\"},{\"inputs\":[],\"payable\":false,\"stateMutability\":\"nonpayable\",\"type\":\"constructor\"}]",
		"function": "msg.contractInstance.methods.currentValue().call((error, result) => {\n  node.send({payload: result || error});\n});\n\nreturn;",
		"x": 476,
		"y": 206,
		"wires": [
			[
				"5c948a86.894904",
				"7ae57c38.0fddd4"
			]
		]
	},
	{
		"id": "e195a18a.cf681",
		"type": "inject",
		"z": "2402955.eef8a6a",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "str",
		"repeat": "",
		"crontab": "",
		"once": false,
		"x": 242.5,
		"y": 207,
		"wires": [
			[
				"d3d9f3c2.96ea2"
			]
		]
	},
	{
		"id": "7ae57c38.0fddd4",
		"type": "debug",
		"z": "2402955.eef8a6a",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 697.5,
		"y": 207,
		"wires": [

		]
	},
	{
		"id": "1c54e515.23fb0b",
		"type": "debug",
		"z": "2402955.eef8a6a",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 511.5,
		"y": 497,
		"wires": [

		]
	},
	{
		"id": "b4fbf129.21a52",
		"type": "debug",
		"z": "907c54b7.0448a8",
		"name": "",
		"active": true,
		"console": "false",
		"complete": "false",
		"x": 285.5,
		"y": 270,
		"wires": [

		]
	}
]